body{
    min-width:1200px;
    font:14px "microsoft yahei" ,Arial,Helvetica,sans-serif;
}
.container{
    width:1200px;
    margin:0 auto;
}
a,body{
    color:#514F4D;
    text-decoration:none;
}
 a:hover{
    color:#1F7DD7;
}
body,div,p,dl,dd,ul,li,ol,form,h1,h2,h3,h4,h5,input,tr,td,th,textarea{
    margin:0;
    padding:0;
}
ol,ul,dl{
    list-style: none;
}
*{
	box-sizing: border-box;
}
.clear{
	clear:both;
}
.fix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
#head{
    height:60px;
    width:100%;
    background:#192332;
}
/*������С�±�*/
.show{
    display:block!important;
    opacity: 1!important;
    z-index:10;
}
.email{
    display:inline-block;
    width:20px;
    height:15px;
    background:url(../bg_img/head.png) no-repeat -30px -45px;
    cursor:pointer;
    opacity: .6;
    padding:1px;

}
.email:hover{
    opacity: 1;
}
.exit{
    display:inline-block;
    width:80px;
    height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid transparent;
    border-radius:10px;
    font-size:15px;
    background:#F4F4F4;
}
/*���طš�*/
.return{
    display:inline-block;
    width:60px;
    height:30px;
    line-height: 30px;
    text-align:center;
    border:1px solid #65A3DE;
    border-radius:20px;
    color:#65A3DE;
    cursor:pointer;
    transition: all .2s linear;
    position:absolute;
    top:5px;
    right:15px;
}
.return:hover{
    color:#fff;
    background:#1E7DD7;
}
.banner_ad{
    width:1200px;
    height:100px;
    margin:0 auto;
}
.see_more{
    display: block;
    font-size:15px;
    font-weight:500;
    width:150px;
    height:40px;
    line-height:40px;
    text-align:center;
    margin:0 auto;
    border:1px solid #bbb;
    border-radius:20px;
    color:#333;
    cursor:pointer;
    margin-bottom:20px;
}
.see_more:hover{
    background:#1E7DD7;
    color:#fff;
}
.light{
    border-bottom:2px solid #FC6921;
    color:#FC6921;
}
.location{
    width:16px;
    height:20px;
    display:inline-block;
    -webkit-transform:translatey(5px);
    background:url(../bg_img/index.png) no-repeat -42px 0;
}
.icon_down{
    display:inline-block;
    width:14px;
    height:8px;
    background:url(../bg_img/index.png) no-repeat -58px 0;
    cursor:pointer;
}
.score{
    display:inline-block;
    width:30px;
    height:20px;
    line-height:20px;
    text-align:center;
    background:#74AB34;
    color:#fff;
    border:1px solid #74AB34;
}
.sign{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../bg_img/index.png) no-repeat -117px 0;
}
.sign_lg{
    display:inline-block;
    width:30px;
    height:22px;
    background:url(../bg_img/index.png) no-repeat -86px 1px;
}
.ticket_btn{
    display:inline-block;
    width:100px !important;
    height:26px;
    line-height:26px;
    text-align:center;
    border:1px solid #1E7DD7;
    border-radius:15px;
    cursor:pointer;
}
.ticket_btn:hover{
    background:#1E7DD7;
    color:#fff;
}
/*���Ұ�ť*/
.move_right,.move_left{
    display:block;
    width:40px;
    height:80px;
    position:absolute;
    z-index:10;
    top:70px;
    background:#715601;
    opacity: .2;
    transition:all .2s linear;
}
.move_right{
    left:560px;
}
.mover_left{
    left:0;
}
.move_right:hover,.move_left:hover{
    opacity: .8;
}

/*Сͼ�����ʽ*/
.hot,.new{
    display:inline-block;
    width:30px;
    height:15px;
    background:url(../bg_img/head.png) no-repeat  -165px 0;
    position:absolute;
    z-index:10;
}
.new{
    background-position:-165px -28px;
}
.play{
    display:inline-block;
    width:32px;
    height:32px;
    background:url(../bg_img/index.png) no-repeat 0 -103px;
    opacity: .7;
    position:absolute;
    left:10px;
    bottom:10px;
    z-index:20;
}
.play:hover{
    opacity: 1;
}
.play_lg{
    display:inline-block;
}
/*����*/
.score{
    width:40px;
    height:22px;
    line-height:20px;
    border-radius: 20px;
}

.log_submit{
    display:inline-block;
    width:90px;
    height:30px;
    font-size:15px;
    font-weight:bold;
    border-radius:5px;
    line-height:30px;
    text-align:center;
    background:#EEB824;
    /*background-image:linear-gradient(to bottom, #FBFFF9 0, #E1A02C 100%);*/

}
/*�߿�������¼�ͷ*/
.icon_movie_com{
    display:inline-block;
    width:0;height:0;
    border:15px solid transparent;
    border-top-color:#7EB152;
    position:absolute;
    bottom:-30px;
    left:70px;
}

/*�ӹ�ע*/
.attention{
    display:inline-block;
    color:#fff;
    background:#94BC51;
    width:70px;
    line-height:25px;
    height:25px;
    border-radius:5px;
    cursor:pointer;
    text-align:center;
}
.icon_dot{
    display:inline-block;
    width:4px;
    height:4px;
    border-radius:50%;
    background:#fff;
}
/*�رյ�x*/
.close{
    display:inline-block;
    position:absolute;
    top:5px;
    right:5px;
    font-weight:bold;
    width:20px;
    height:20px;
    line-height:18px;
    border-radius:5px;
    border:1px solid #000;
    color:#000;
    text-align:center;
    cursor:pointer;
}
/*���ҵ��*/
.fam_left,.fam_right{
    width:20px;
    height:20px;
    line-height:20px;
    text-align:center;
    border:1px solid #333;
    border-radius:3px;
    position:absolute;
    top:5px;
    right:60px;
    cursor:pointer;
}
.fam_right{
    right:40px;
}
.fam_right:hover{
     background:#ddd;
}
.fam_left:hover{
    background:#ddd;
}
/*����*/
.set{
    display:inline-block;
    width:16px;
    height:15px;
    background:url(../bg_img/ico.png) no-repeat -96px 0;
}















